{# Configuration of navbar buttons #}
{% set icon_lang = theme_var('menu_langswitcher')|defined('false') %}
{% set icon_search = theme_var('menu_search')|defined('false') %}
{% set icon_login = theme_var('menu_login')|defined('false') %}

<header id="header">
  <div class="logo">
    <a href="{{ home_url }}">{{ site.title }}</a>
  </div>
  <nav class="dropdown">
    {% block header_navigation %}
      {% include 'partials/navigation.html.twig' %}
    {% endblock %}
  </nav>
  <nav class="main">
    {% block header_extra %}
      <ul>
        {% if config.plugins.langswitcher.enabled and system.languages.supported is not null %}
          {% include 'partials/langswitcher.html.twig' %}
        {% endif %}
        {% if config.plugins.simplesearch.enabled %}
          {% include 'partials/simplesearch_searchbox.html.twig' %}
        {% endif %}
        <li class="menu">
          <a class="fa-bars" href="#menu">Menu</a>
        </li>
      </ul>
    {% endblock %}
  </nav>
</header>
